#particles-js {
    position: absolute;
    /*background: #323840;*/
    background: linear-gradient(45deg, #347eff 0,#2990ff 50%,#2285ff 50%,#1ea1ff 100%);
    left: 0;
    right: 0;
    top: -80px;
    bottom: 0;
    z-index: -1;
}
.img-fluid{
    height: 400px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.index-icon{
    width: 10em; height: 10em; color: #44b549;
}
.index-card {
    margin: 40px;
}
.card-text {
    /*text-indent:2em;*/
    margin-bottom: 5px;
}

/*swiper*/
.swiper-slide>img{
    /*width:100%;*/
    height:400px;
}