#particles-js {
    position: absolute;
    /*background: #323840;*/
    background: linear-gradient(45deg, #347eff 0,#2990ff 50%,#2285ff 50%,#1ea1ff 100%);
    left: 0;
    right: 0;
    top: -80px;
    bottom: 0;
    z-index: -1;
}
.img-fluid{
    height: 400px;
}