.container{
    min-height: 30rem;
}
.header {
    min-height: 4rem;
}
.content {
    min-height: 24rem;
    margin-top: 0.5rem;
    z-index: 999;
}
#particles-js {
    position: absolute;
    /*background: #323840;*/
    background: linear-gradient(45deg, #347eff 0,#2990ff 50%,#2285ff 50%,#1ea1ff 100%);
    left: 0;
    right: 0;
    top: -80px;
    bottom: 0;
    z-index: -1;
}
.img-fluid{
    height: 400px;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    color: white;
}
.index-icon{
    width: 10em; height: 10em;color:white;
}
/*.wechat-icon {*/
    /*color: #44B549;*/
/*}*/
/*.website-icon {*/
    /*color: yellow;*/
/*}*/
/*.itservice-icon {*/
    /*color: #fd7e14;*/
/*}*/
.index-card {
    /*margin-top: 20px;*/
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.3);
}
.card-title {
    color: white;
}
.card-text {
    /*text-indent:2em;*/
    margin-bottom: 3px;
    color: white;
}

/*swiper*/
.swiper-slide-wechat>img{
    /*width:100%;*/
    height:400px;
}

.swiper-pagination{
    margin-top: 10px;
}
.btn-primary{
    background-color: #347eff;
}
.index-card-button{
    margin-top: 10px;
}